* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Roboto', sans-serif;
}
a {
	transition: .3s;
}

.container {
	width: 1200px;
	margin: auto;
}

.grey{
	background-color: #F0F0F0;
}

.dark-grey {
	background-color: #222222;
}
.light-grey {
	background-color: #F0F0F0;
}
.footer-bg {
	background-color: #171A21;
}

.blue-bg{
	background-color: #4272D7;
}
.footer-bg{
	background-color: #171A21;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

.text-white {
	color: #fff;
}
.text-center {
	text-align: center;
}

.blue-bg {
	background-color: #507BD6;
}


.fix {
	overflow: hidden;
}
.row {
	margin-left: -15px;
	margin-right: -15px;
}
.col-3{
	width: 25%;
	float: left;
	padding: 0 15px;
}
.col-4{
	width: 33.33%;
	float: left;
	padding: 0 15px;
}
.col-6{
	width: 50%;
	float: left;
	padding: 0 15px;
}
.col-8{
	width: 66.66%;
	float: left;
	padding: 0 15px;
}
.col-9{
	width: 75%;
	float: left;
	padding: 0 15px;
}
.col-12{
	width: 100%;
	float: left;
	padding: 0 15px;
}


/** header-area ***/
.header-area {
	min-width: 1200px;
	position: absolute;
	z-index: 99;
	left: 0;
	right: 0;
}
.logo {
	padding: 45px 0;
}
.header-right {
	display: flex;
	align-items: center;
	justify-content: end;
}
.main-menu{
	float: left;
}
.main-menu ul{}
.main-menu ul li {
	float: left;
	margin-left: 35px;
	position: relative;
}
.main-menu ul li::before {
	content: "";
	width: 50%;
	height: 2px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: #fff;
	margin: 0 auto;
	right: 0;
	opacity: 0;
	visibility: hidden;
	transition: .3s;
}
.main-menu ul li:hover:before{
	opacity: 1;
	visibility: visible;
	width: 100%;
} 
.main-menu ul li a {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 14px;
	text-decoration: none;
	color: #fff;
	padding: 10px 0;
	display: block;
	transition: .3s;
}
.main-menu ul li a:hover{
	color: #fce38a;
}
.search-box {
	overflow: hidden;
	float: left;
	margin-left: 25px;
	position: relative;
	padding-left: 25px;
}
.search-box a{
	color: #fff;
}
.cart-box {
	overflow: hidden;
	float: left;
	margin-left: 25px;
	position: relative;
	padding-left: 25px;
}
.cart-box a{
	color: #fff;
}


/*** banner area **/
.banner-area{
	height: 100vh;
	background-size: cover;
	background-position: center center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	position: relative;
	
}
.banner-area::before{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	content: "";
	height: 100%;


	opacity: .9;
	background-image: -moz-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);

}

.banner-text{
	color: #fff;
	position: relative;
}
.banner-text span{
	font-family: 'Kaushan Script';
	font-size: 72px;
}
.banner-text h2 {
	font-size: 150px;
	font-weight: 700;
	line-height: 1;
	position: relative;
	padding-bottom: 50px;
	margin-bottom: 40px;
}
.banner-text h2:before{
	content: "";
	width: 60px;
	height: 3px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: #fff;
	margin: 0 auto;
	right: 0;
}
.banner-text a {
	font-size: 14px;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	border: 1px solid #fff;
	padding: 10px 25px;
	display: inline-block;
}
  
/* .picture {
	background-image: -moz-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1920px;
	height: 1000px;
	z-index: 3;
  }
   */

